.app {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  margin: 0;
}
.app--menu-open { overflow: hidden; }

.header {
  z-index: 3;
  position: relative;
  
  align-self: stretch;
  display: flex;
  justify-content: center;
  align-items: center;
  
  width: 100%;
  height: 64px;
  color: #fff;
  background-color: royalblue;
}
.header__title { 
  font-size: 24px;
}

.menu-icon { 
  position: absolute;
  left: 0;
  margin-left: 20px;
  cursor: pointer;
}
.menu {
  overflow: hidden;
  z-index: 2;
  position: absolute;
  display: none;
  padding-top: 64px;
  font-size: 24px;
  line-height: 1.5;
  color: #fff;
  background-color: royalblue;

  width: 100vw;
  min-height: calc(100vh - 64px);
  z-index: 1;
  text-align: center;
}
.menu--open { 
  display: block;
}
.menu__inner {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.menu__item { 
  color: #fff; 
  cursor: pointer;
}
.menu__item--active { color: #0707f7; }
@media (min-width: 576px) {
  .menu { 
    display: block;
    width: 240px;
  }
  .app { 
    flex-direction: row; 
    align-items: flex-start;
  }
  .menu-icon { display: none; }
  .menu { 
    position: static;
    display: block; 
    width: 224px;

    margin-top: 0;
    padding-left: 32px;
    min-height: unset;
    height: auto;
    text-align: left;

    color: inherit;
    background-color: inherit;  
    padding-top: 32px;
  }
  .menu__item { color: #585861; }
  .menu__item--active { color: #0707f7; }
}